{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet"href="{{ url_for('static', filename='quiz.css') }}" crossorigin="anonymous">
{% endblock %}
{% block main %}
  <!-- Page Heading -->
  <h1 class="my-4">{{ currentquiz.title }}</h1>
  <h5>How many will you get?</h5>

  <!-- Project One -->
  <div class="row center-block">
    <div class="col-md-12">
      <img class="img-fluid rounded mb-3 mb-md-0" src="{{ currentquiz.image }}" alt="">
    </div>
  </div>
  <!-- /.row -->

  <!-- Results Block -->
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Your results!</h5>
    <h4 class="card-title">You got <span id="scoreSpan">0</span> out of {{ currentquizquestions|length }} correct</h4>
    <a href="#" class="btn btn-primary">Share Score</a>
    <a href="#" class="btn btn-primary">Share Quiz</a>
  </div>
</div>

<hr>

{% for questions in currentquizquestions %}
<!-- Project One -->
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Question {{ loop.index }}</h2>
      {% set outerloop = loop %}
      <h3>{{ questions.question }}</h3>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        {% for choice in currentquizchoices %}
          {% if choice.question_id == questions.question_id %}
          <label class="btn btn-primary"
          data-is_correct_choice="{{ choice.is_correct_choice}}">
            <input type="radio" name="{{ outerloop.index }}"
            autocomplete="off"
            data-question_no="{{ outerloop.index }}">{{ choice.choice }}
          </label>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
<!-- /.row -->
{% endfor %}

<!-- Project One -->
  <div class="row" id="result">
    <div class="col-md-5">
      <h3>How did you do?</h3>
      <a class="btn btn-outline-dark" href="#" id="seeResults">See Results</a>
    </div>
  </div>
  <div class="row" id="replay">
    <div class="col-md-5">
      <h3>Try again to see if you can improve on your score</h3>
      <a class="btn btn-outline-dark" href="#" id="seeResults">Play Again</a>
    </div>
  </div>

  <!-- /.row -->
  <hr>


  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      {% if currentquiz.quiz_id == 1 %}
        <a class="page-link" href={{ url_for('quizpage', quiz_id=currentquiz.quiz_id)}} aria-label="Previous">
      {% else %}
        <a class="page-link" href={{ url_for('quizpage', quiz_id=currentquiz.quiz_id-1)}} aria-label="Previous">
      {% endif %}
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      {% if currentquiz.quiz_id == quizzes[-1].quiz_id %}
        <a class="page-link" href={{ url_for('quizpage', quiz_id=currentquiz.quiz_id)}} aria-label="Next">
      {% else %}
        <a class="page-link" href={{ url_for('quizpage', quiz_id=currentquiz.quiz_id+1)}} aria-label="Next">
      {% endif %}
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>


<script type="text/javascript">
$(window).ready(function() {
  var result = 0;
  $('#seeResults').on('click', function() {
    $('.active').each(function() {
      if($(this).attr('data-is_correct_choice') == "True") {
        result+=1;
      } else {
        $(this).removeClass('active');
        $(this).removeClass('btn-primary');
        $(this).addClass('btn-danger');
      }
    });
    $('label').each(function() {
      if($(this).attr('data-is_correct_choice') == "True") {
        $(this).addClass('active');
      };
    })
    $('#scoreSpan').text(result);
    $('.card-body').css('display', 'flex');
    $('#result').css('display', 'none');
    $('#replay').css('display', 'flex');
  });
  $('#replay').on('click', function() {
    location.reload();
  })
})
</script>
{% endblock %}
