{% extends "layout.html" %}
{% block head%}
<link rel="stylesheet"href="{{ url_for('static', filename='root.css') }}" crossorigin="anonymous">

{% endblock %}
{% block main %}
<div id="featured-quiz" class="card">
  <div class="featuredLabel">
    <p>FEATURED</p>
  </div>
  <!-- <a href="/quiz/{{ quizzes[0].quiz_id }}"> -->
  <a href={{ url_for('quizpage', quiz_id=quizzes[0].quiz_id)}}>
    <img class="card-img-top" src="{{ quizzes[0].image }}" alt="Card image cap">
  </a>
  <div class="card-body">
    <a href={{ url_for('quizpage', quiz_id=quizzes[0].quiz_id)}}>
      <h5 class="card-title">{{ quizzes[0].title }}</h5>
    </a>
    <p class="card-text">{{ quizzes[0].description }}</p>
  </div>
</div>
<h1>Popular Quizzes</h1>
<div class="quizzes_body">
  {% for quiz in quizzes[1:] %}
    <div class="card-list">
      <a href={{ url_for('quizpage', quiz_id=quiz.quiz_id)}}>
        <img class="card-list-img" src="{{ quiz.image }}" alt="Card image cap">
      </a>
      <div class="card-body">
          <a href={{ url_for('quizpage', quiz_id=quiz.quiz_id)}}>
          <h5 class="card-title">{{ quiz.title }}</h5>
        </a>
        <p class="card-text">{{ quiz.description }}</p>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}
